<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>Songshenzong</title>
    <meta name="robots" content="noindex,nofollow">
    <script src='http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js'></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="http://apps.bdimg.com/libs/layer/2.1/layer.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <script>


        var List;
        var loading;


        /**---------------------------------------------------------
         *   Global settings of the Ajax.
         *---------------------------------------------------------*/
        jQuery.ajaxSetup({
            cache: false,
            aysnc: true,
            url: "",
            type: "POST",
            dataType: "json",
            beforeSend: function () {
                loading = layer.load(1, {
                    shade: [0.4, '#000']
                });

            },
            complete: function () {
                layer.close(loading);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                layer.alert('通信失败，重试或刷新！', {
                    closeBtn: 0,
                    title: '噩耗:'
                });

            }
        });


        /**---------------------------------------------------------
         *   Get list of logs.
         *---------------------------------------------------------*/
        function logList(url) {

            jQuery.getJSON(url, function (result) {
                    if (List) {
                        List.items = result;
                    } else {
                        List = new Vue({
                            el: '#items',
                            delimiters: ['[[', ']]'],
                            data: {
                                items: result,
                            },
                            methods: {
                                getDetail: function (item) {
                                    layer.msg('I\'m ' + item.id);
                                },
                                getNewList: function (url) {
                                    logList(url);
                                },
                                remove: function (id, index) {

                                    jQuery.getJSON('/songshenzong/destroy', {id: id}, function (result) {

                                            List.items.data.splice(index, 1);
                                        }
                                    );

                                },
                            }
                        });
                    }


                }
            );
        }


        /**---------------------------------------------------------
         *   Destroy all of the logs.
         *---------------------------------------------------------*/
        function destroy() {
            jQuery.getJSON('/songshenzong/destroy', function (result) {
                    List.items = result;
                }
            );
        }


        /**---------------------------------------------------------
         *   Get list of the logs.
         *---------------------------------------------------------*/
        logList('/songshenzong/logs');


    </script>
    <style>
        p {
            display: block;
        }

        .navbar {
            /*margin: 0px;*/
            /*padding: 5px;*/
            /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
            background: #2e6da4;
            color: #F2F4F6;
            border-radius: 0;
            margin-bottom: 0;
        }

        .glyphicon {
            cursor: pointer;
        }
    </style>

</head>

<body>


<div id="items" class="bs-example" data-example-id="hoverable-table">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Brand" width="20" height="20"
                         src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAB+0lEQVR4AcyYg5LkUBhG+1X2PdZGaW3btm3btm3bHttWrPomd1r/2Jn/VJ02TpxcH4CQ/dsuazWgzbIdrm9dZVd4pBz4zx2igTaFHrhvjneVXNHCSqIlFEjiwMyyyOBilRgGSqLNF1jnwNQdIvAt48C3IlBmHCiLQHC2zoHDu6zG1iXn6+y62ScxY9AODO6w0pvAqf23oSE4joOfH6OxfMoRnoGUm+de8wykbFt6wZtA07QwtNOqKh3ZbS3Wzz2F+1c/QJY0UCJ/J3kXWJfv7VhxCRRV1jGw7XI+gcO7rEFFRvdYxydwcPsVsC0bQdKScngt4iUTD4Fy/8p7PoHzRu1DclwmgmiqgUXjD3oTKHbAt869qdJ7l98jNTEblPTkXMwetpvnftA0LLHb4X8kiY9Kx6Q+W7wJtG0HR7fdrtYz+x7iya0vkEtUULIzCjC21wY+W/GYXusRH5kGytWTLxgEEhePPwhKYb7EK3BQuxWwTBuUkd3X8goUn6fMHLyTT+DCsQdAEXNzSMeVPAJHdF2DmH8poCREp3uwm7HsGq9J9q69iuunX6EgrwQVObjpBt8z6rdPfvE8kiiyhsvHnomrQx6BxYUyYiNS8f75H1w4/ISepDZLoDhNJ9cdNUquhRsv+6EP9oNH7Iff2A9g8h8CLt1gH0Qf9NMQAFnO60BJFQe0AAAAAElFTkSuQmCC">
                </a>


            </div>


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">


                <div class="navbar-form navbar-left">


                </div>

                <div class="navbar-form navbar-right">

                    <button onclick="logList('/songshenzong/logs')" type="button" class="btn btn-info btn-sm">Total:
                        [[items.total]]
                    </button>


                    <button onclick="logList('/songshenzong/logs')" type="button" class="btn btn-info btn-sm">Refresh
                    </button>

                    <button v-if="items.prev_page_url" @click="getNewList(items.prev_page_url)" type="button"
                            class="btn btn-info btn-sm">Prev
                    </button>


                    <button v-if="items.next_page_url" @click="getNewList(items.next_page_url)" type="button
        " class="btn btn-info btn-sm">Next
                    </button>


                    <button v-if="items.next_page_url" @click="getNewList(items.next_page_url)" type="button
        " class="btn btn-info btn-sm">Next
                    </button>


                    <button onclick="destroy()" v-if="items.total" type="button"
                            class="btn btn-primary btn-sm btn-danger">Destroy
                    </button>


                </div>

            </div>


        </div>
    </nav>


    <table class="table table-hover table-condensed table-striped">
        <thead>
        <tr>
            <th>Index</th>
            <th>ID</th>
            <th>IP</th>
            <th>Method</th>
            <th>Host</th>
            <th>URI</th>
            <th>Status</th>
            <th>Time</th>
            <th>Created at</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>


        <tr v-for="(item,index) in items.data" @click="getDetail(item)">


            <th scope="row">[[index]]</th>
            <th>[[item.id]]</th>
            <td>[[item.ip]]</td>
            <td>[[item.method]]</td>
            <td>[[item.data.request.server.HTTP_HOST]]</td>
            <td>[[item.uri]]</td>
            <td>[[item.data.request.server.REDIRECT_STATUS]]</td>
            <td>[[item.utime]]</td>
            <td>[[item.created_at]]</td>
            <td><span @click="remove(item.id,index)" class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>

        </tr>

        </tbody>
    </table>

</div>


</body>
</html>
