<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>Songshenzong</title>
    <meta name="robots" content="noindex,nofollow">
    <script src='http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js'></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="http://apps.bdimg.com/libs/layer/2.1/layer.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <script>


        var List;
        var loading;
        var Token;


        /**---------------------------------------------------------
         *   Layer alert.
         *---------------------------------------------------------*/
        function information(message) {
            layer.alert(message, {
                closeBtn: 0,
                title: 'Alert',
                btn: ['Got It'],
                time: 20000,
            });
        }

        /**---------------------------------------------------------
         *   Global settings of the Ajax.
         *---------------------------------------------------------*/
        jQuery.ajaxSetup({
            cache: false,
            aysnc: true,
            url: "",
            type: "GET",
            data: jQuery("input").serialize(),
            dataType: "json",
            beforeSend: function () {

                Token = jQuery("#token").val();

                if (!Token) {
                    information('Enter Token First.');
                    return false;
                }

                layer.closeAll();
                loading = layer.load(1, {
                    shade: [0.4, '#000']
                });

            },
            complete: function () {
                layer.close(loading);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                information('1. May be a network error. <br /> 2. May be no data table, please create table.');
            }
        });


        /**---------------------------------------------------------
         *   Verify method.
         *---------------------------------------------------------*/
        function verify(data) {
            if (data.status_code != 200) {
                information(data.message);
                return false;
            }
            return true;
        }
        /**---------------------------------------------------------
         *   Get list of logs.
         *---------------------------------------------------------*/
        function logList(url) {


            jQuery.getJSON(url, {token: jQuery("#token").val()},
                function (result) {
                    if (!verify(result)) {
                        return false;
                    }

                    layer.msg(result.message);

                    if (List) {
                        List.items = result.data;
                    } else {
                        List = new Vue({
                            el: '#items',
                            delimiters: ['[[', ']]'],
                            data: {
                                items: result.data,
                            },
                            methods: {
                                getDetail: function (item) {
                                    window.open("/songshenzong/logs/" + item.id + '?token=' + jQuery("#token").val());
                                },
                                getNewList: function (url) {
                                    logList(url);
                                },
                                remove: function (id, index) {


                                    jQuery.getJSON('/songshenzong/destroy', {
                                            id: id,
                                            token: jQuery("#token").val()
                                        }, function (result) {

                                            List.items.data.splice(index, 1);
                                        }
                                    );

                                },
                            }
                        });
                    }


                }
            );
        }


        /**---------------------------------------------------------
         *   Destroy all of the logs.
         *---------------------------------------------------------*/
        function destroy() {
            jQuery.getJSON('/songshenzong/destroy', {token: jQuery("#token").val()}, function (result) {
                    List.items = result.data;
                }
            );
        }


        /**---------------------------------------------------------
         *   Drpp Table.
         *---------------------------------------------------------*/
        function dropTable() {
            jQuery.getJSON('/songshenzong/drop', {token: jQuery("#token").val()}, function (result) {
                    layer.msg(result.message);
                }
            );
        }


        /**---------------------------------------------------------
         *   Create Table.
         *---------------------------------------------------------*/
        function createTable() {
            jQuery.getJSON('/songshenzong/create', {token: jQuery("#token").val()}, function (result) {
                    layer.msg(result.message);
                }
            );
        }


        /**---------------------------------------------------------
         *   Get list of the logs.
         *---------------------------------------------------------*/
        logList('/songshenzong/logs');


    </script>
    <style>
        p {
            display: block;
        }

        .navbar {
            /*margin: 0px;*/
            /*padding: 5px;*/
            /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
            background: #2e6da4;
            color: #F2F4F6;
            border-radius: 0;
            margin-bottom: 0;
        }

        .glyphicon {
            cursor: pointer;
        }
    </style>

</head>

<body>


<div id="items" class="bs-example" data-example-id="hoverable-table">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">


                <div class="navbar-form navbar-left">


                    <div class="input-group input-group-sm">
                        <span class="input-group-addon" id="sizing-addon3">Token</span>
                        <input type="text" class="form-control" placeholder="Token" name="token" id="token"
                               aria-describedby="sizing-addon3">
                    </div>

                </div>


                <div class="navbar-form navbar-right">

                    <button onclick="logList('/songshenzong/logs')" type="button" class="btn btn-sm btn-info">Total:
                        [[items.total]]
                    </button>


                    <button onclick="logList('/songshenzong/logs')" type="button" class="btn btn-sm btn-info">Refresh
                    </button>

                    <button v-if="items.prev_page_url" @click="getNewList(items.prev_page_url)" type="button"
                            class="btn btn-sm btn-info">Prev
                    </button>


                    <button v-if="items.next_page_url" @click="getNewList(items.next_page_url)" type="button
        " class="btn btn-sm btn-info">Next
                    </button>


                    <button v-if="items.next_page_url" @click="getNewList(items.next_page_url)" type="button
        " class="btn btn-sm btn-info">Next
                    </button>


                    <button onclick="destroy()" v-if="items.total" type="button" class="btn btn-sm btn-danger">Destroy
                    </button>


                    <button onclick="createTable()" type="button" class="btn btn-sm btn-info">Create Table
                    </button>

                    <button onclick="dropTable()" type="button" class="btn btn-sm btn-danger">Drop Table
                    </button>


                </div>

            </div>


        </div>
    </nav>


    <table class="table table-hover table-condensed table-striped" id="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>IP</th>
            <th>Method</th>
            <th>Host</th>
            <th>URI</th>
            <th>Status</th>
            <th>Created at</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>


        <tr v-for="(item,index) in items.data">


            <th scope="row">[[item.id]]</th>
            <td>[[item.ip]]</td>
            <td>[[item.method]]</td>
            <td>[[item.data.request.server.HTTP_HOST]]</td>
            <td @click="getDetail(item)" style="word-break:break-all">[[item.uri]]</td>
            <td>[[item.data.request.status_code]]</td>
            <td>[[item.created_at]]</td>
            <td><span @click="remove(item.id,index)" class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>

        </tr>

        </tbody>
    </table>

</div>


</body>
</html>
